html, body, #root {
  height: 100%;
}

#root .orgchart-container {
  height: unset;
  border: none;
  background: none;
  border-radius: 0px;
  flex: 1;
  max-height: 400px;
}

#root .orgchart-container .orgchart {
  cursor: default;
  background: none;
}